<!-- accordion --> 
<script id="accordion-template" type="text/x-handlebars-template">
<div id="ac1" class="accordion">
	  <ul>
		<li class="menu-item">
	    	<h3 class="menu-label">Appetizers</h3>
	    	<div class="menu-body" style="height: 0px;">
	    		<h3 class="menu-body-title">Check our tasty apps!</h3>
	    		<strong class="menu-body-category">Happy hour menu - half off!!</strong>
	    		<p class="menu-option">Chicken Wings (6) - 5.99$</p>
	    		<p class="menu-option">Calamari - 7.99$</p>
	    		<p class="menu-option">Garlic breaded pickles - 4.59$</p>
	    	</div>
	    </li>

	    <!-- Item 2 -->
	    <li class="menu-item">
	    	
	    	<h3 class="menu-label">Entrees</h3>
	    	<div class="menu-body">
	    		<h3 class="menu-body-title">Choose from a wide range of pastas, combos and signature dishes</h3>
	    		<strong class="menu-body-category">Pastas</strong>
	    		<p class="menu-option">Chicken Picatta - 14.99$</p>
	    		<p class="menu-option">Chicken Pollo - 12.99$</p>
	    		<p class="menu-option">Lasagna (Chicken/Beef) - 10.99$</p>

	    		<strong class="menu-body-category">Combos</strong>
	    		<p class="menu-option">Italian Sausage &amp; Beef Combo - 15.99$</p>
	    		<p class="menu-option">Mac n Cheese with Chicken Tenders - 8.99$</p>		    		
	    	</div>
	    </li>

	    <!-- Item 3 -->
	    <li class="menu-item">
	    	<h3 class="menu-label">Desserts</h3>
	    	<div class="menu-body">
	    		<h3 class="menu-body-title">New Summer specials!!</h3>
	    		<strong class="menu-body-category">Shakes and Ice Creams!!</strong>
	    		<p class="menu-option">Turtle Caramel Shake - 6.99$</p>
	    		<p class="menu-option">Chocolate Brownie - 4.99$</p>
	    	</div>
	    </li>
	  </ul>
</div>
</script>