<!-- Gallery -->
<script id="gallery-template" type="text/x-handlebars-template">
<div class="gallery-container">
		<div class="backimage fadein" style="background-image: url('https://gsoldateli.github.io/gallery/images/carro1.jpg');"></div>
		<!-- Thumbnails at the top -->
      <nav class="gallery-nav">
        <article class="gallery-item active">
          <img class="gallery-item" src="https://gsoldateli.github.io/gallery/images/carro1.jpg" alt="">
        </article>
        <article class="gallery-item">
          <img class="gallery-item" src="https://gsoldateli.github.io/gallery/images/carro2.jpg" alt="">
        </article>
        <article class="gallery-item">
          <img class="gallery-item" src="https://gsoldateli.github.io/gallery/images/carro3.jpg" alt="">
        </article>
        <article class="gallery-item">
          <img class="gallery-item" src="https://gsoldateli.github.io/gallery/images/carro4.jpg" alt="">
        </article>  
        <article class="gallery-item">
          <img class="gallery-item" src="https://gsoldateli.github.io/gallery/images/carro5.jpg" alt="">
        </article>                                
        
      </nav>
	</div>
</script>