<!-- MODAL SEARCH -->
<script id="modal-search-template" type="text/x-handlebars-template">
<div data-modal-id="search" class="modal__container"> 
			<h4 class="modal__title">Sorry! Search is not available! :( </h4>
			<div class="modal__body">
				As soon as possible this amazing search will be running.
				
			</div>
			<div class="modal__footer">
				<button data-close class="modal__button">Close</button>
				<span>The window width is <span class="window-width-label"></span>px</span>
			</div>
		</div>
</div>
</script>
<!-- END MODAL SEARCH -->