<!-- Modal Example Button -->
<script id="modal-button-template" type="text/x-handlebars-template">
<div class="modal-live">
	<button class="btn btn--attention" data-modal-open="example">Click here to open modal!</button>
</div>
<div style="display:none;">
<div data-modal-id="example" class="modal__container">
			<h4 class="modal__title">Hi there! This is an example modal.</h4>
			<div class="modal__body">Click the button below to close this modal.</div>
			<div class="modal__footer">
				<button data-close class="modal__button">Close</button>
			</div>
		</div>
</div>
</script>